h2{
	font-family: 'Merriweather', Times New Roman, sans-serif;
	color: #333333;
	font-size: 20px;
}


/* Header & Navigation*/
.header{
	background: #19A388;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,255,214,1) 0%, rgba(15,62,191,1) 100%);
}

.nav-item{
	margin-right: 12px;
}

.nav-link{
	color: #ffffff;
}

.nav-link:hover{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	margin-bottom:-1px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
}

.mx-auto.header-text{
	width: 700px;
	color: #ffffff;
	font-family: 'Merriweather', Times New Roman, sans-serif;
	padding: 35px 0px 60px;
}

@media(max-width: 768px){
	.navbar{
		background-color: rgba(64, 64, 64, 0.43137254901960786);
		padding: 0px 1rem;
	}
	
	.mx-auto.header-text{
		width: 500px;
		font-size: 18px;
		padding-top: 30px;
	}
}

@media(max-width: 500px){
	.mx-auto.header-text{
		width: 300px;
		font-size: 16px;
	}
}

/* About */

.portrait{
	-webkit-clip-path: polygon(77% 0, 100% 44%, 77% 89%, 23% 89%, 0 44%, 23% 0);
	clip-path: polygon(77% 0, 100% 44%, 77% 89%, 23% 89%, 0 44%, 23% 0);
}

img.icons{
	height: 130px;
	margin-top:10px;
}

.icon-sub{
	margin-top: 35px;
}

.blue-bg{
	background-color: #3183AF;
}

/* Portfolio */
.port-middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

.port-title{
	margin: 0 auto;
	color: #09082D;
}

.port{
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
}

.port:hover .port-middle {
  opacity: 1;
}

.port:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	content: "";
}

.port:hover:before {
	opacity: 0.12;
}

.port-1:before{
	background: url('../images/Branding_screen.jpg') top no-repeat;
	background-size: cover;	
}

.port-2:before{
	background: url('../images/pandawan.png') top no-repeat;
	background-size: cover;	
}

.port-3:before{
	background: url('../images/Versand_screen_UK.png') top no-repeat;
	background-size: cover;
}

.port-4:before{
	background: url('../images/pomodoro.png') top no-repeat;
	background-size: cover;	
}

.port-5:before{
	background: url('../images/Sellmato_screen.jpg') top no-repeat;
	background-size: cover;
}

.port-6:before{
	background: url('../images/Pixup_screen.jpg') top no-repeat;
	background-size: cover;
}

.btn{
	padding: 8px 12px;
    background-color: #1798bb;
	color: #ffffff;
    margin-top: 8px;
    border-bottom: none;
    border-radius: 2px;
}

.btn:hover{
	color: #ffffff;
    background-color: #57c6cf;
}

/* Contact */
h2.section-title{
	padding-top: 35px;
}

#contact a{
	color: #ffffff;
}

#contact a:hover{
	color: #B6DBFD;
}

/*Art*/
.art-thumb{
	width: 100%;
	height: 300px;
	transition: .5s ease;
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.thumb {
	width: 70%;
	height: 70%;
	margin: 0 auto;
	transition: .5s ease;
}

@media(max-width: 576px){
	.thumb{
		height: 100%;
	}
}

.thumb:hover{
	width: 100%;
	height: 100%;
	transition: .5s ease;
}

.thumb-1{
	background: url("../images/splash.jpg") 50% 50% no-repeat;
	background-size: contain;
}

.thumb-2{
	background: url("../images/khaleesi.jpg") 50% 50% no-repeat;
	background-size: contain;
}

.thumb-3{
	background: url("../images/katniss.jpg") 50% 50% no-repeat;
	background-size: contain;
}

.thumb-4{
	background: url("../images/hobbit.jpg") 50% 50% no-repeat;
	background-size: contain;
}

.thumb-5{
	background: url("../images/James.jpg") 50% 50% no-repeat;
	background-size: contain;
}

.thumb-6{
	background: url("../images/wonderwoman.jpg") 50% 50% no-repeat;
	background-size: contain;
}

.thumb-7{
	background: url("../images/lana.jpg") 50% 50% no-repeat;
	background-size: contain;
}

.thumb-8{
	background: url("../images/pressure-points.jpg") 50% 50% no-repeat;
	background-size: contain;
}

/* Footer */

footer a{
	color: #ffffff;
}
